body {
    background-color: rgb(125, 211, 211);
}

.header {
    background-color: rgb(145, 212, 77);
    font-family: Tahoma;
    text-align: center;
    width: 100%;
    height: 20px;
}

div {
    background-color: rgb(189, 156, 219);
    padding: 1% 3% 5%;
    width: 300px;
    border: 2px solid black;
    height: 300px;
    margin: 20px 40px 20px;
    border-radius: 2%;
    background-position: right;
}

img {
    width: 60%;
    height: 60%;
}

.tittle {
    color: rgb(9, 240, 40);
    font-size: 28px;
    font-weight: 600;
    font-family: Tahoma;
}

p {
    color: white;
    font-size: 17px;
    font-family: Verdana;
    font-weight: 700;
}

button {
    width: 50%;
    height: 10%;
    background-color: black;
    color: white;
    border: 2px #fcfafae3;
    font-size: 15px;
    font-family: Tahoma;
    font-weight: 800;
}

    